//clients
#block-views-block-clients-block-1{
     h2 {
        text-align: center;
    }
    h2:before,
    h2:after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 1px;
        background: #000;
        z-index: -1;
        position: relative;
        vertical-align: middle;
    }
    h2:before {
        right: 15px;
        margin: 0 0 0 -100%;
    }
    h2:after {
        left: 15px;
        margin: 0 -100% 0 0;
    }
    .views-row{
        width: 190px !important; 
        
    }
    .view-content.row{
        display: flex;
        justify-content: center;
        flex-direction: row;
        @media (max-width:379px) {
            display: flex;
            justify-content: center !important;
        }
    }
}